body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
  }
  
  h1 {
    margin: 10px 0;
  }
  
  p {
    color: #777;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    display: inline-block;
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }