img {
    width: 50px;
    border-radius: 30px;
    
}
.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #DCDCDC;
    margin-top: 0px;
    
}

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Open Sans'; font-size: 22px;
}
.main-content {
    display: flex;
    margin-top: 50px;
    align-items: center;
    
    flex-direction: column;
}


#search {
    background-color: gainsboro;
    border-radius: 2cqh;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    padding-right: 500px;
    padding-left: 20px;
    
    
}


.content {
    background-color: #DCDCDC;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width:50%;
}
.content:hover {
    background-color: #868585;
    transition: background-color ease 500ms;
}
.allcontent {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sideimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.caption {
    width:400px;
    font-size: 20px;
}


